.item {
    width: 230px;
    height: 320px;
    text-align: center;
    border: 1px solid  rgba(0,0,0,.075);
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    position: relative;

    &__img {
        width: 100%;
        height: 200px;
    }

    &__text-wrapper {
        height: 105px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        max-width: 216px;
        font-size: 18px;
        font-weight: 700;
    }

    &__author {
        font-size: 13px;
        font-weight: 500;
    }

    &__artNum {
        font-size: 12px;
        font-weight: 300;
    }

    &__footer {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__price {
        font-weight: 500;
    }

    &__buy {
        padding: 5px;
        border-radius: 5px;
        background-color: #222;
        color: #fff;
        font-size: 10px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
    }

    &__wish {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 24px;
        height: 24px;
    }

    &__wish-overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    &__wish-overlay:hover {
        cursor: pointer;
    }
}

.gold-color {
    fill: gold;
}