.header {
    background-color: #0C0D14;
    color: #fff;

    &__inner {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 15px;
        padding-left: 15px;
    }

    &__logo {
        font-size: 28px;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 5px;
    }

    &__logo-icon {
        transform: translateY(2px);
    }

    &__cart {
        position: relative;
    }

    &__buttons {
        width: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.cart-target {
    position: absolute;
    right: -20px;
    bottom: 0;
    color: #fff;
    font-size: 18px;
}