.App {
  font-family: 'Poppins', 'Verdana', sans-serif;
}

.container {
  max-width: 1280px;
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
}

.button {
  min-width: 230px;
  min-height: 55px;
  padding: 15px 30px;
  font-size: 21px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color:rgba(0, 0, 0, .1);
}

.button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .5);
  color:rgba(0, 0, 0, .7)
}

p[class] {
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
